client/CLIENT/Connected Services/MyService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowRoutes">
        <s:complexType />
      </s:element>
      <s:element name="ShowRoutesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowRoutesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRoutes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Route_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRoutesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckRoutesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowSeats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Route_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowSeatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowSeatsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buytickets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Route_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buyticketsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buyticketsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowRoutesSoapIn">
    <wsdl:part name="parameters" element="tns:ShowRoutes" />
  </wsdl:message>
  <wsdl:message name="ShowRoutesSoapOut">
    <wsdl:part name="parameters" element="tns:ShowRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRoutesSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRoutes" />
  </wsdl:message>
  <wsdl:message name="CheckRoutesSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="ShowSeatsSoapIn">
    <wsdl:part name="parameters" element="tns:ShowSeats" />
  </wsdl:message>
  <wsdl:message name="ShowSeatsSoapOut">
    <wsdl:part name="parameters" element="tns:ShowSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="buyticketsSoapIn">
    <wsdl:part name="parameters" element="tns:buytickets" />
  </wsdl:message>
  <wsdl:message name="buyticketsSoapOut">
    <wsdl:part name="parameters" element="tns:buyticketsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ShowRoutes">
      <wsdl:input message="tns:ShowRoutesSoapIn" />
      <wsdl:output message="tns:ShowRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRoutes">
      <wsdl:input message="tns:CheckRoutesSoapIn" />
      <wsdl:output message="tns:CheckRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowSeats">
      <wsdl:input message="tns:ShowSeatsSoapIn" />
      <wsdl:output message="tns:ShowSeatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buytickets">
      <wsdl:input message="tns:buyticketsSoapIn" />
      <wsdl:output message="tns:buyticketsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowRoutes">
      <soap:operation soapAction="http://tempuri.org/ShowRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoutes">
      <soap:operation soapAction="http://tempuri.org/CheckRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSeats">
      <soap:operation soapAction="http://tempuri.org/ShowSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buytickets">
      <soap:operation soapAction="http://tempuri.org/buytickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowRoutes">
      <soap12:operation soapAction="http://tempuri.org/ShowRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRoutes">
      <soap12:operation soapAction="http://tempuri.org/CheckRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSeats">
      <soap12:operation soapAction="http://tempuri.org/ShowSeats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buytickets">
      <soap12:operation soapAction="http://tempuri.org/buytickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:64057/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:64057/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>